.center{
    width: 60px;
}

.test_1{
    word-spacing: 50px;
    text-align: center;
    padding-right: 55px;
    
}

.test_2{
    color: rgb(138, 15, 15);
    font-size: 30px;
}

#number{
    color: rgb(27, 27, 181);
    font-size: 25px;
}

.test{
    width: 140px;
    margin: auto;
}

.test_3{
    font-size: 18px;
}

sup{
    font-size: 25px;
}
