body {
    background-image: url(https://cdn.kanobu.ru/articles/pics/58bd3c3c-d05c-4d9d-931c-aa2a9b4e2316.webp);
}
#test{
    transform:  scale(1);
    transition: 1s all;
    background-color: rgb(21, 186, 192);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    border: 2px solid  black;
    border-radius: 100px;
    opacity: 0.7;
    box-shadow: 1px 2px 7px black;
    text-align: center;
    font-weight: 900;

}

#test:hover{
    transform: rotate(360deg) scale(1);
    background-color: red;
    color: white;
}